<!doctype html>
<html>
  <%= partial "partials/head" %>
  <body class="<%= page_classes %>">
  <div class="drawer">
    <%= partial "partials/drawer_left" %>
    <%= partial "partials/drawer_right" %>
  </div>
  <!-- Main Content Wrapper -->
  <div class="wrapper">
    <%= partial "partials/nav" %>
    <%= yield %>
    <%= partial "partials/footer" %>
  </div>
  <%= javascript_include_tag  "peacoat" %>
  <%= javascript_include_tag  "fixNav" %>
  </body>
</html>