<nav class="drawer-nav drawer-left"> <!-- drawer-right will put the drawer on the right side. -->

  <ul class="col-group work-legend">
    <li>
      <span class="col col-6 tablet-col-8 index-typology">typology</span>
      <span class="col col-8 tablet-col-12 phone-col-20 index-name">project</span>
      <span class="col col-6 index-location">city</span>
      <span class="col col-4 index-year">year</span>
    </li>
  </ul>

  <% data.work.typologies.each do |t| %>
    <ul class="col-group typology-group <%= t.typology.downcase + '-index' %>">
      <% data.work.projects.each do |i| %>
        <% if i.typology == t.typology %>
          <li>
            <% link_to '/projects/' + i.slug do %>
              <span class="col col-6 tablet-col-8 typology">
                <%= i.typology %>
              </span>
              <span class="col col-8 tablet-col-12 phone-col-20 name">
                <%= i.name %>
              </span>
              <span class="col col-6 location">
                <%= i.location %>
              </span>
              <span class="col col-4 year">
                <%= i.date.year %>
              </span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

</nav>