---
title: Grange
---
<header>
  <div class="container">
    <main>
      <section class="introduction">
        <h3>
          Grange is a design-make-build collective rooted in cultural sustainability, holistic design practices, and critical notation of the world around us. Grange evolved out of the desire to create good design that improves the spaces and communities we live in.
        </h3>
        <p class="center-text">
          <a href="#">Call to Action</a>
        </p>
      </section>
    </main>
  </div>
</header>

<div class="container">
  <main>
    <h2 class="center-text">Work</h2>
    <div class="work block-group block-group-1-up">
      <% data.work.projects.each do |i| %>
        <div class="block">
          <% link_to 'projects/' + i.slug do %>
            <%= image_tag i.thumbnail %>
          <% end %>
          <section>
            <p class="center-text">
              | <%= i.name %> |
              <%= i.typology %> |
              <%= i.date.month %> |
              <%= i.date.year%> |
            </p>
            <p>
              <%= i.description %>
            </p>
          </section>
        </div>
      <% end %>
    </div>
  </main>
</div>