---
title: Grange
---
<header>
  <div class="container">
    <main>
      <section class="introduction">
        <h3>
          Grange & Company is a design-make-build collective rooted in cultural sustainability, holistic design practices, and critical notation of the world around us.
        </h3>
<!--         <h3>
          Grange evolved out of the desire to create good design that improves the spaces and communities we live in.
        </h3> -->
<!--         <p class="center-text">
          <a href="#">Call to Action</a>
        </p> -->
      </section>
    </main>
  </div>
</header>

<div class="container">
  <main>
    <div class="work col-group">
      <% data.work.projects.each do |i| %>
        <div class="col index-block">
          <% link_to 'projects/' + i.slug do %>
            <%= image_tag i.thumbnail %>
          <% end %>
          <section>
            <p class="center-text project-def">
              <%= i.name %> –
              <%= i.typology %> –
              <%= i.date.month %> <%= i.date.year%>
            </p>
<!--             <p>
              <%= i.description %>
            </p> -->
          </section>
        </div>
      <% end %>
    </div>
  </main>
</div>