---
title: Grange
---
<header>
  <div class="container">
    <main>
      <section class="introduction">
        <h1 class="title">
          Grange & Company
        </h1>
        <h3>
          We are a design-make-build collective rooted in cultural sustainability, holistic design practices, and critical notation of the world around us.
        </h3>
      </section>
    </main>
  </div>
</header>

<div class="container">
  <main>
    <div class="work col-group">
      <% data.work.projects.each do |i| %>
        <div class="col index-block">
          <% link_to 'projects/' + i.slug do %>
            <figure>
              <%= image_tag i.thumbnail %>
              <p class="project-def">
                <span class-"def-section"><%= i.name %></span>
                <span class-"def-section"><%= i.typology %></span>
                <span class-"def-section"><%= i.date.month %> <%= i.date.year%></span>
              </p>
            </figure>
          <% end %>
        </div>
      <% end %>
    </div>
  </main>
</div>