---
title: Grange
---
<header>
  <div class="container">
    <main>
      <section class="introduction">
        <h3>
          Grange & Company is a design-make-build collective rooted in cultural sustainability, holistic design practices, and critical notation of the world around us.
        </h3>
      </section>
    </main>
  </div>
</header>

<div class="container">
  <main>
    <div class="work col-group">
      <% data.work.projects.each do |i| %>
        <div class="col index-block">
          <% link_to 'projects/' + i.slug do %>
            <figure>
              <%= image_tag i.thumbnail %>
              <p class="center-text project-def">
                <%= i.name %> –
                <%= i.typology %> –
                <%= i.date.month %> <%= i.date.year%>
              </p>            
            </figure>        
          <% end %>
        </div>
      <% end %>
    </div>
  </main>
</div>